#lsUser{
    border: solid 2px;
    text-align: center;
    padding: 5px;
}
#left{
    width: 30%;
    float: left;
}
#danhSachUser{
    text-align: center;
    border: solid 2px;
    border-top: 1px;
}
#right{
    width: 70%;
    float: right;
}
#logout{
    text-align: right;
}
#chatArea{
    height: 500;
}
#divChat{
    text-align: center;
}
#btnThoat{
    margin-left: 5px;
}